
body{
  overflow-x:hidden;
}

.main-top{
  background-color: #CCEEEC
}

.top-nav{
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.top-sign-in{
  text-align: right;
}


.main-top h1{
  font-size: 2em;
}

.main-top h2{
  color: teal;
  text-align: center;
}

/* Nav */
a {
font-size: 1.5em;
color: #990000 ;
}


/* bottom */

.bottom-background {
 background-color: #00cfcf }

.bottom-container {
 background-color: white;
}

.main-bottom{
  margin-top: 14px;
}
